<h1>
    <%= @artist1.name %>
</h1>

<%= image_tag @aimage if @aimage.present? %>

<ul>
    <li>Name: <%= @artist1.name %></li>
    <li>Genres: <%= @agenres %></li>
    <li>Top Tracks: <%= @atracks %></li>
</ul>

