<h1>
    <%= @artist.name %>
</h1>

<%= image_tag @artist.image if @artist.image.present? %>

<ul>
    <li>Name: <%= @artist.name%></li>
    <li>Genres: <%= @artist.genres %></li>
    <li>Top Tracks: <%= @artist.tracks %></li>
</ul>
        <figure class="albums">
            <%= image_tag @artist.albumimg, :class => 'thumbnails' %> 
        </figure>
<p>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/<%= @artist.spotify %>?utm_source=generator" width="75%" height="340" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
