
<h1>
    <%= @user.name %>
</h1>

<%= cl_image_tag @user.profpic, :class => 'user' if @user.profpic.present? %>

<ul>
    <li><strong>Name:</strong> <%= @user.name %></li>
    <li><strong>Date of Birth:</strong> <%= @user.dob %></li>
    <li><strong>Favorite Artists:</strong> <%= @user.favartists %></li>
    <li><strong>Description:</strong> <%= @user.description %></li>
</ul>

<% if @current_user.present? %>
<div class="controls">
    <%= link_to "Edit profile", edit_user_path(@user.id) %>
</div>
<% end %>

<p>
<h2>Other Users</h2>
<% User.all.each do |user| %>
    <p><%= link_to user.email, user %></p>
<% end  %><p>
</p>