
<h1>
    <%= @user.username %>
</h1>

<%= cl_image_tag @user.profpic, :class => 'user' if @user.profpic.present? %>


<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Date of Birth:</strong> <%= @user.dob %></p>
<p><strong>Favorite Artists:</strong> <%= @user.favartists %></p>
<p><strong>Description:</strong> <%= @user.description %></p>
<p><strong>Events Attending:</strong>
    <% attendance =  @current_user.attendances %>
    <% attendance.each do |attendance| %>
        <p><%= link_to attendance.event.name, "/events/#{ attendance.event.ticket_id }" %></p>
    <% end  %>

<p>
<% if @current_user.present? && @current_user == @user %>
    <div class="controls">
        <%= button_to "Edit profile", edit_user_path(@current_user), :class => 'btn btn-secondary', :method => 'get' %>
    </div>
<% end %>
</p>

<p>
<h2>Other Users</h2>
<% User.all.each do |user| %>
    <p><%= link_to user.username, user %></p>
<% end  %>
</p>