<h1><%= @event.name %></h1>

    <p><%= image_tag @event.image, :class => "img-thumbnail" %></p>
<p><%= @event.name %></p>
    <p><%= @event.date.strftime '%A, %B %e, %Y'%> 
    <p><%= @event.city%>, <%= @event.state%></p>

<% @event.artists.each do |artist| %>
    <%= link_to artist.name, artist %>
<% end  %><p>

<%= link_to @venue.name, "/venue/#{@event.id}/#{@event.venue_id}" %>
</p><p>
<%= form_tag attendances_path do%>
    <input type="hidden" name="attendance[event_id]" value="<%= @event.id %>">
    <input type="submit" value="I'm Attending!">
<% end %>
</p>