<h1><%= @event.name %></h1>

    <p><%= image_tag @event.image, :class => "img-thumbnail" %></p>
<p><%= @event.name %></p>
    <p><%= @event.date.strftime '%A, %B %e, %Y'%> 
    <p><%= @event.city%>, <%= @event.state%></p>
<p>
<% @event.artists.each do |artist| %>
    <%= link_to artist.name, artist %>
<% end  %></p><p>

<%= link_to @venue.name, "/venue/#{@event.id}/#{@event.venue_id}" %>
</p><p>

<% attendance =  @current_user.attendances.find_by(event: @event)%>
<% if @current_user.present? && attendance.nil? %>
    <%= button_to "I'm Attending!", attendances_path, params: { attendance: { event_id: @event.id }}, method: :post %>
<% elsif @current_user.present? && attendance.present? %>
    <%= button_to "I am no longer attending.", attendance_path(attendance), method: :delete %>
    <p><p>
    You are now attending this event.
    <p> Other users attending: </p>
    <% Attendance.all.each do |attendance| %>
    <p><%= link_to attendance.user_id, "/users/#{ attendance.user_id }" %></p>
<% end  %><p>
    </p>
<% end %>
</p>
