<h1>
    <%= @venue.name %>
</h1>


<p>
    <%= image_tag @venue.image unless @venue.image.nil? %>
</p>

    <p><strong>Name:</strong> <%= @venue.name%></p>
    <p><strong>Address:</strong> <%= @venue.address%></p>
    <p><%= @venue.location%></p>

