<h1>
    <%= @venue_info["name"] %>
</h1>
<p>
<%= image_tag @venue_info["images"][0]["url"] unless @venue_info["images"].nil? %>
</p>

    <p><strong>Name:</strong> <%= @venue_info["name"]%></p>
    <p><strong>Address:</strong> <%= @venue_info["address"]["line1"]%></p>
    <p><%= @venue_info["city"]["name"]%>, <%= @venue_info["state"]["stateCode"]%> <%= @venue_info["country"]["name"]%></p>

