<!DOCTYPE html>
<html>
  <head>
    <title>Attendr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Attendr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link active" %>
        <% if @current_user.present? %>
          <%= link_to "Sign out #{ @current_user.username }", login_path, :method => 'delete', :class => "nav-item nav-link"%><br>
          <%= link_to "Edit profile", edit_user_path(@current_user), :class => "nav-item nav-link" %><br>
          <%= link_to "View profile", user_path(@current_user), :class => "nav-item nav-link" %><br>
        <% else %>
          <%= link_to 'Sign up', new_user_path, :class => "nav-item nav-link" %><br>
          <%= link_to 'Sign in', login_path, :class => "nav-item nav-link" %>
          <% end %>
    </div>
  </div>
</nav>

<div class="low-opacity-bg-image">
</div>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4">
          <div class="p-3 mb-2 bg-dark text-white">
            <h1>Attendr</h1>
            <p>Welcome to Attendr.</p>
            <p> View events on the homepage.</p><p>
            Log in to create a profile and register to attend events. </p><p>
            <img src="https://lh6.googleusercontent.com/qZ0M32bkqqjnOrlGwV-GWNiqjU_lUKAe1McvILmTnhgrxcIXxfhnTYu2_pp-lsDLuMmduFgDJWigPkZ1weXSvbUz7OU8nodzQ_ad1TSXaLaw0Z-ryd0bMOnnK0iVZUmHK5GUeCsD">
            </p>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="p-3 mb-2 bg-dark text-white">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
